asttokens
backcall
black
cffi
click
debugpy
decorator
entrypoints
executing
flake8
ipykernel
ipython
jedi
Jinja2
jupyter-client
jupyter-core
MarkupSafe
matplotlib-inline
mccabe
mypy-extensions
nest-asyncio
numpy
packaging
pandas
parso
pathspec
pexpect
pickleshare
platformdirs
prompt-toolkit
psutil
ptyprocess
pure-eval
pycodestyle
pycparser
pyflakes
Pygments
pyparsing
python-dateutil
pytz
pytz-deprecation-shim
pyzmq
rpy2
six
stack-data
tomli
tornado
traitlets
typing_extensions
tzdata
tzlocal
wcwidth
